<!-- SHOWS SPECIFIC SELECT ARTICLE - 1 ARTICLE -->

<h1><%=@article["name"]%></h1>


<h3>created by: <a href=""><%=@article["fname"]%> <%=@article["lname"]%></a></h3>

<h3>created at: <%=@article["created_at"]%></h3>

<% if @article["created_at"] != @article_update["edited_on"] %>
	<h3>updated by: <%=@article_update["fname"]%> <%=@article_update["lname"]%></h3>
	<h3>updated on: <%=@article["edited_on"]%> </h3>
<%end%>

<p><%=@article["content"]%></p>

<a href="/articles/<%=@article["id"]%>/update"> UPDATE POST</a>