<!-- FORM TO UPDATE ARTICLE -->
<div class="center">
	<h1>Update Post</h1>

	<form method="post" action="/articles/<%=@article["id"]%>/update">
		<label>Name of Article</label>
		<br>
		<input class="others" name="name" type="text" value="<%=@article["name"]%>">
		<br>
		<label>Site</label>
		<br>
		<input class="others" name="site" type="text" value="<%=@article["site"]%>">
		<br>
		<img class="articlepic2" src="<%=@article["picture"]%>">
		<br>
		<label>Picture URL</label>
		<br>
		<input class="others" name="picture" type="text" value="<%=@article["picture"]%>">
		<br>
		<label>Category</label>
		<br>
		<select class="others" name="categories_1"> 
			<% @categories.each do |category| %>
			<option class="others" value="<%= category["id"]%>"><%= category["name"]%> </option>
			<%end%>
		</select>
		<br>	
		<label>Content</label>
		<br>
		<textarea name="content"><%=@article["content"]%></textarea>
		<br>
		<input class="button" type="submit" value="Update Article">
	</form>

</div>

<div class="clearrow marginbottom"></div>

<!-- action="mailto:youremailaddress -->