<!-- SHOWS SPECIFIC SELECT ARTICLE - 1 ARTICLE -->

<h1><%=@article["name"]%></h1>


<h3 class="aligncenter"><a href="/author/<%=@article['created_by']%>"><%=@article["fname"]%> <%=@article["lname"]%></a></h3>


<% if @article_update == nil %>
	<br>
	<h2 class="aligncenter">Created on: <span class="timeset"><%=@article["created_at"]%></span> • Not updated yet.</h2>
<% else %>
	<br>
	<h2 class="aligncenter">Created at: <span class="timeset"><%=@article["created_at"]%></span> • Updated by:  <a href="/author/<%=@article_update['id']%>"><%=@article_update["fname"]%> <%=@article_update["lname"]%></a>  on <span class="timeset"><%=@article["edited_on"]%></span> </h2>
<%end%>

<br>
<p><%=@article["content"]%></p>
<br>

<div class="aligncenter">
	<a href="/articles/<%=@article["id"]%>/update" class="button"> UPDATE POST</a>
</div>



<!-- if @article["created_at"] != @article_update["edited_on"]  -->